<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>iPhoneMouse</string>
	<key>CFBundleIdentifier</key>
	<string>com.PanterSoft.iPhoneMouse</string>
	<key>CFBundleName</key>
	<string>iPhoneMouse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access to discover and connect to your Mac for mouse control.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth access to discover and connect to your Mac for mouse control.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to your local network to discover and connect to your Mac for mouse control.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to track device movement on surfaces for mouse control.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_iphonemouse._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
